<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon-appointment</title>
    <style>
        #message {
            margin-top: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>SALON BOOKING APPOINTMENT SYSTEM</h1>
    <h2>SIGNUP NOW</h2>
    <form onsubmit="handleFormSubmit(event)">
        <label for="name">Username</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" >

        <button type="submit">Submit</button>
    </form>
     
    <p id="message"></p> 
    <p><a href="./login.html"> ALREADY HAVE AN ACCOUNT?LOGIN NOW</a></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
   
    <script>
        let currentuserId = null;

        function handleFormSubmit(event) {
            event.preventDefault();

            const signupDetails = {
                name: event.target.name.value,
                email: event.target.email.value,
               phone: event.target.phone.value,
                password: event.target.password.value
            };

            axios.post("http://localhost:3000/users/add-users", signupDetails)
                .then(response => {
                    
               
                    document.getElementById('message').innerText = 'Signup successful!';
                    document.getElementById('message').style.color = 'green';

                    setTimeout(() => {window.location.href = "./login.html";},2000);
                  
                })
                .catch(err => {
                    if (err.response && err.response.status === 409) {
                        document.getElementById('message').innerText = 'User already exists!';
                        document.getElementById('message').style.color = 'red';
                    } else {
                        document.getElementById('message').innerText = 'An error occurred. Please try again.';
                        document.getElementById('message').style.color = 'orange';
                    }
                });

            event.target.reset();
        }
    </script>
</body>
</html>
